
  .q2{
  
  height: 70px;
   width: 100%;
   background-color: rgb(117, 134, 233);
   border: none;
  border-radius: 0;
  bottom: 1px;
 margin-bottom: -7px;
 position: fixed; 
 z-index: 100;
  
  }

 body{
background-image: none;
}

  #q1 {
     
     background-color: #0562ec; /* Green */
     border: none;
     color: white;
     padding: 5px 2px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 16px;
     width: 80px;
     height: 80px;
     border-radius: 50px;
     margin-left:-40px ;
     padding-top: 15px;
      
     position: absolute;
   
   }
   #q3{
    display: flex;
  justify-content: center;
  align-items: center;
    height: 80px;
     width: 100%;
     background-color: rgb(117, 134, 233);
     border: none;
    border-radius: 0;
    top:-2%;
   margin-bottom: 0px;
   position: fixed; 
   z-index: 100;
   color:#0562ec
    
    
    }
    
  #id_search {
     
    background-color:white;
    border: none;
    color: white;
   
    text-align: center;
    text-decoration: none;
  
    font-size: 16px;
    width: 40px;
    height: 37px;
    border-radius: 0px;
    margin-left:2px ;
    padding-top: 0px;
    margin-top:3px ;
    position: absolute;
  
  }
  #id_img_search {
     

    margin-left:10px ;
    padding-top: 30px;
 
  
  }

  #q5
  {
margin-top: 3px;
margin-left: 9px;
background-color: white; 
  }
    #q6 {
     
     background-color: #0562ec; /* Green */
     border: none;
     color: white;
     padding: 5px 2px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 16px;
     width: 80px;
     height: 80px;
     border-radius: 50px;
 
      
     position: absolute;
   
   }
   #btn_loginn {
    background-color:#0562ec; /* Green */
    border: none;
    color: white;
   
    text-align: center;
    text-decoration: none;
  
    font-size: 16px;
    width: 50px;
    height: 37px;
  

    margin-top:4px;
    padding-top: 5px;
    left: 5px;
    position: absolute;
  
  }